.welcome__image{
    height: 389px;
    width: 901px;
    background-color: #747272;
    background-image: url("../images/sedona-mountain.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    @media (min-width: @tablet-width) {
      height: 518px;
      width: 1280px;
    }
  }