.form-found {
    text-align: center;
}
.form-found__title {
 font-size: 21px;
 margin-top: 38px;
}
.form-found__description {
 padding-left: 29px;
 padding-right: 29px;
 @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }
}
.form-found__button {
    padding:16px 49px;
    font-size: 21px;
    font-weight: 700;
    @media (min-width: @tablet-width) {
      padding: 15px 121px 18px 121px;
    }
}