.modal-window-open {
    display: flex;
}
.modal-window {
   display: none;
}
.modal-container {
    position:fixed;
    top:0;
    left:0;
    display: flex;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 11;
}
.modal {
    position: relative;
    margin: auto;
    background-color: #FFFFFF;
    text-align: center;
    width: auto;
}
.modal-mistake {
    padding: 45px 42px 35px 41px;
    @media (min-width:  @tablet-width) {
        padding: 48px 47px 49px 46px;
     }
}
.modal-button {
    padding: 18px 72px 14px 72px;
    @media (min-width: @tablet-width) {
        padding: 19px 125px 14px 125px;
    }
} 
.modal-title {
    margin:0;
    margin-bottom: 20px;
    @media (min-width: @tablet-width) {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 35px;
    }
    @media (max-width: @mobile-width-only) {
        br {
          display: none;
        }
}
}
.modal-decription {
    margin:0;
    margin-bottom: 28px;
    @media (min-width: @tablet-width) {
        margin-bottom: 46px;
    }
}
.description-block {
    @media (max-width: @mobile-width-only) {
          display: block;
    } 
    @media (max-width: @mobile-width-only) {
        br {
          display: none;
        }
    } 
}
.modal-window-success-open {
 display: flex;
}
.modal-window-success {
  display: none;
}
.modal-content-success {
    padding: 45px 42px 5px 41px;
    @media (min-width: @tablet-width) {
        padding: 51px 97px 5px 99px;
     }
}
.modal-button-success {
    background-color: #F2F2F2;
    padding:20px 20px;
    @media (min-width: @tablet-width) {
        padding: 44px 91px;
     }
}
.modal-button-close {
    padding: 18px 60px 14px 62px;
    @media (min-width: @tablet-width) {
        padding: 19px 140px 14px 140px;
    }
}
.description-block-success {
    display: block;
}